<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Worrywart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="dependencies/bootstrap.min.css">
    <!--
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <nav class="navbar navbar-default" id="nav-interface">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"
            v-on:click="router('#button-interface')">{{ title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="menu-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" v-on:click="reset">
                Reset Database
              </a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#stats-modal">
                Stats
              </a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#preferences-modal">
                Preferences
              </a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#about-modal">
                About
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="stats-modal" class="modal fade" tabindex='-1' role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="save"><span>&times;</span></button>
            <h2>Statistics</h2>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation">
                <a href="#stats-log" data-toggle="tab">Log</a>
              </li>
              <li role="presentation">
                <a href="#stats-tags" data-toggle="tab">Tags</a>
              </li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="stats-log">
                <table class="table">
                  <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Intensity</th>
                    <th>Description</th>
                  </tr>
                  <tr v-for="i in incidents">
                    <td>{{ i.localeString }}</td>
                    <td>{{ i.type }}</td>
                    <td>{{ i.intensity }}</td>
                    <td class="description">{{ i.description }}</td>
                  </tr>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane fade active" id="stats-tags">
                <p>
                Taggy stuffsorz
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" v-on:click="okay">Okay</button>
          </div>
        </div>
      </div>
    </div>

    <div id="preferences-modal" class="modal fade" tabindex='-1' role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="save"><span>&times;</span></button>
            <h2>Preferences</h2>
          </div>
          <div class="modal-body">
            <table class="table">
              <tr>
                <td>Option 1</td>
                <td>Value 1, Value 2</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" v-on:click="save">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div id="about-modal" class="modal fade" tabindex='-1' role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="save"><span>&times;</span></button>
            <h2>About</h2>
          </div>
          <div class="modal-body">
            <p>
            You are using {{ title }} version {{ version }}, written by <a href="https://twitter.com/chrisfujino">Christopher Fujino.</a>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center" id="incident-interface">

      <div class="container-fluid view" id="button-interface">
        <h2>What's gettin ya down?</h2>
        <div class="btn-group-vertical btn-block">
          <button type="button" class="btn btn-default btn-lg"
            v-for="stressor in stressors"
            v-on:click="buttonRouter(stressor)">{{ stressor }}</button>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control"
              v-model="newStressor"
              placeholder="New Stress Type">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" v-on:click="addNewStressor">Add New</button>
            </span>
          </div>
        </div>
      </div>

      <div id="stress-level" class="container-fluid view hidden">
        <h2>How intense is it?</h2>
        <div class='btn-group-vertical btn-block'>
          <button type="button" class="btn btn-default btn-lg"
            v-for="i in intensity"
            v-on:click="intensityRouter">
            {{ i.intensity }}
          </a>
        </div>
      </div>

      <div id="result" class="container-fluid view hidden">
        <h2>Okay!</h2>
        <p>
          You are worrying about {{ incident.type }} at level {{ incident.intensity }} at {{ incident.localeString }}.
        </p>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Optional brief description, up to 140 characters" maxlength="140" v-model="incident.description">
        </div>
        <div class="btn-group btn-group-lg">
          <button type="button" class="btn btn-primary" v-on:click="log">Log</button>
          <button type="button" class="btn btn-default" v-on:click="cancel">Cancel</button>
        </div>
      </div>

    </div>

    <script src="dependencies/jquery.min.js"></script>
    <script src="dependencies/bootstrap.min.js"></script>
    <script src="dependencies/vue.min.js"></script>
    <script src="dependencies/pouchdb.min.js"></script>
    <script src="dependencies/moment.min.js"></script>
    <script src="router.js"></script>
    <script src="Incident.js"></script>
    <script src="main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<!--
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    -->
  </body>
</html>
