<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Worrywart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="dependencies/bootstrap.min.css">
    <!--
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <nav class="navbar navbar-default" id="nav-interface">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" v-on:click="router('#button-interface')">Don't Worry</a>
        </div>

        <div class="collapse navbar-collapse" id="menu-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" v-on:click="navRouter('#stats', $event)">Stats</a></li>
            <li><a href="#" v-on:click="navRouter('#settings', $event)">Settings</a></li>
            <li><a href="#" v-on:click="navRouter('#about', $event)">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="stats" class="container-fluid hidden view">
      <h2 class='text-center'>Statistics</h2>
    </div>

    <div id="settings" class="container-fluid hidden view">
      <h2 class='text-center'>Settings</h2>
    </div>

    <div id="about" class="container-fluid hidden view">
      <h2 class='text-center'>About Worrywart!</h2>
    </div>

    <div class="text-center" id="incident-interface">
      
      <div class="container-fluid view" id="button-interface">
        <h2>What's gettin ya down?</h2>
        <div class="btn-group-vertical btn-block">
          <button type="button" class="btn btn-default btn-lg"
            v-on:click="buttonRouter"
            v-for="stressor in stressors">{{ stressor }}</button>
          <button type="button" class="btn btn-default btn-lg">
            Misc.
          </button>
          <button type="button" class="btn btn-default btn-lg">
            Add new stressor...
          </button>
        </div>
      </div>

      <div id="stress-level" class="container-fluid view hidden">
        <h2>How intense is it?</h2>
        <div class='list-group'>
          <a href="#" class="list-group-item"
            v-on:click="intensityRouter"
            v-for="i in intensity">
            {{ i.intensity }}
            <span v-if="i.description">- {{ i.description }}</span>
          </a>
        </div>
      </div>

      <div id="result" class="container-fluid view hidden">
        <h2>Okay!</h2>
        <div v-for="(value, key) in incident">{{ key }}: {{ value }}&nbsp;</div>
        <button type="button" class="btn btn-default" v-on:click="">Okay!</button>
      </div>

    </div>

    <script src="dependencies/jquery.min.js"></script>
    <script src="dependencies/bootstrap.min.js"></script>
    <script src="dependencies/vue.min.js"></script>
    <script src="dependencies/pouchdb.min.js"></script>
    <script src="router.js"></script>
    <script src="Incident.js"></script>
    <script src="main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<!--
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    -->
  </body>
</html>
